@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

header {
    position: relative;
    background-color: black;
    color: white;
    height: 100px;
    z-index: 1;
}

div.menu {
    position: relative;
    z-index: 0;
    top: -100px;
}

div.menu > ul {
    width: 100%;
    background-color: dimgray;
    text-align: center;
    color: white;
}

div.menu > ul > li {
    padding: 20px;
    list-style: none;
    display: inline-block;
}

header > img {
    position: relative;
    left: 20px;
    top: 20px;
    width: 70px;
    
}

header > #botao{
    position: absolute;
    right: 0;
    top: 40%;
    right: 5%;
    cursor: pointer;
    user-select: none;
}

div#img {
    top: -58px;
    position: relative;
    height: 300px;
}

div#img > div.trilha {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("../imagens/trilha1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(20%);
}

div#img > img#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

